.contenedor {
    margin: 1rem 5rem;
}

.perfil {
    display: flex;
    height: 20rem;
    align-items: center;
}

.butn
{
    color: white;
    background: cornflowerblue;
    padding: 10px 40px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.img_perfil {
    border: 3px solid #5e5e5e;
    display: inline-block;
    padding: 1rem;
    width: 200px;
    height: 200px;
}

.datos_perfil {
    margin-left: 10rem;

}

.datos_perfil p {
    font-size: x-large;
}