.grid {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto;
  background-color: #fff;
}

.sisgeg {
  font-size: 70px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 20px;
  margin-top: 5px;
  border: none;
  background-color: #fff;
}

.eslogan {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.griddatos {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.datos {
  margin-left: 60px;
  margin-top: 25px;
  display: grid;
  grid-template-rows: auto;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor-cuadrado {
  margin-left: 100px;
  background-color: #ced8e0;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  position: relative;
}

.contenedor-cuadrado img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  max-height: 50%;
  filter: hue-rotate(180deg);
}

.gridresumen {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.linea {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 5px solid #ced8e0;
}

.resumen{
  display: grid;
}

.botones {
  display: grid;
  grid-template-rows: auto 30px 30px;
  gap: 1em;
}

.boton{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #5a656f;
  border: 1px solid #ced8e0;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  font-size: 18px;
  margin-bottom: 5px;
}
.boton:hover{
  scale: 105%;
}
.contenedor-botones {
  margin-left: 12px;
  display: flex;
  justify-content: left;
  align-items: left;
  width: 300px;
}

.estadofin {
  margin-left: 10px;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-left: 3px solid #e8833a;
  color: #e8833a;
  padding-left: 5px;
}

.title {
  margin-top: 10px;
  margin-left: 50px;
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #e8833a;
}

.gridcomprobante {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.draganddrop {
  border: 4px dashed #e8833a;
  background-color: #f072182a;
  height: 400px;
  width: 700px;
}

.gridmonto {
  display: grid;
  grid-template-columns: auto auto;
}

#select {
  width: 300px;
}
.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
}

.select p {
  height: 5px;
}

.ingresar_button {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8833a;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  font-size: 18px;
  margin: 5px;
}
.contenedor-botones2 {
  display: flex;
  justify-content: left;
  align-items: left;
}
.contenedor-botones3 {
  display: flex;
  justify-content: right;
  align-items: right;
  width: 300px;
}

/* .containerTabla {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin-top: 10px;
} */

.gridtablacomprobantes{
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-top: 2rem;
  display: grid;
  grid-template-rows: auto auto;
}

.resumen1 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 20px;
}

.resumen3 {
  display: grid;
  grid-template-columns: 450px auto;
}

.datocuadro {
  margin-left: 10px;
  background-color: #ffffff;
  border: 3px dashed #e8833a;
  width: 200px;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.logout {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8833a;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  font-size: 18px;
  margin-right: 150px;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.load {
  border: 16px solid #f3f3f3; /* Color del borde */
  border-top: 16px solid #e8833a; /* Color del borde superior */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 150px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.campo {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.tituloFormulario {
  margin-bottom: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  align-items: center;
}